<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>MN DOE District Data Validation Portal</title>
    <link rel="SHORTCUT ICON" href="~/favicon.ico" />
    @Styles.Render("~/Content/Styles/css")
    @Styles.Render("~/Content/jqueryUICSS")
    @Styles.Render("~/Content/datePickerCSS")
</head>
<body>
    <div class="container-fluid layout">
        <div class="row ">
            <div class="top-banner col-12">
                <img src="~/Content/Images/mdelogo450.png" class="mdelogo" />
                <p><a href="#skipnavigation">Skip navigation</a></p>
                <div class="app-title clear-margin">District Data Validation Portal</div>
            </div>
        </div>
        <div class="row noprint">
            <div class="col-12">
                <nav id="layout-navbar" class="navbar navbar-expand-sm prime-blue">
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#theNavBar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="theNavBar">
                        <ul class="navbar-nav">
                            <li>@Html.Raw(Html.ActionLink("LinkText", "Index", "Home", new { area = "" }, new { @class = "nav-link validation-nav-link show-page-loading" }).ToHtmlString().Replace("LinkText", "<i class=\"fas fa-home white-heavy-text\"></i> Home"))</li>
                            <li>@Html.Raw(Html.ActionLink("LinkText", "Reports", "Validation", new { area = "" }, new { @class = "nav-link validation-nav-link show-page-loading" }).ToHtmlString().Replace("LinkText", "Validation Reports"))</li>
                            <li>@Html.Raw(Html.ActionLink("LinkText", "Reports", "Ods", new { area = "" }, new { @class = "nav-link validation-nav-link show-page-loading" }).ToHtmlString().Replace("LinkText", "ODS Reports"))</li>
                            <!--
                                
                            <li>@Html.Raw(Html.ActionLink("LinkText", "Collections", "Rules", new { area = "" }, new { @class = "nav-link validation-nav-link" }).ToHtmlString().Replace("LinkText", "<i class=\"fas fa-list-alt white-heavy-text\"></i> Rule Collections"))</li>
                            
                            -->
                            <li class="mr-auto"><a class="nav-link validation-nav-link mr-auto show-page-loading" href="https://w1.education.state.mn.us/MIDMSWEB/MDELogin.html">MARSS WES</a></li>
                            @Html.Action("NavDropDowns", "Nav")
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                @Html.MvcSiteMap().SiteMapPath()
            </div>
        </div>
        <div class="row layout mainSection">
            <div class="col-12">
                <a name="skipnavigation" id="skipNavigationAnchor" tabindex="-1"></a>
                @RenderBody()
            </div>
        </div>
        @Html.Partial("_LittleFooter")
    </div>
    <!-- Turn this overlay on and off when loading new data asynchronously or screens. -->
    <div id="overlay"><span id="overlay-text">Loading ... <i class="fas fa-cog"></i></span></div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryUI")
    @Scripts.Render("~/bundles/datePickerJS")
    <script>
        @*  The contents of this script tag are not in a separate file because portions are generated on the sever side with ASP.NET MVC *@
        // Supports overlay
        function overlayOn() { $("#overlay").fadeIn(100); }
        function overlayDelayedOn() { $("#overlay").delay(1000).fadeIn(100); }
        function overlayOff() { $("#overlay").hide(); }

        $(document).ready(function () {
            // Eliminate any lingering overlay effect. Show it hen leaving page.
            overlayOff();
            $(".show-page-loading").bind('click', function () { overlayDelayedOn(); });
            $(".show-data-loading").bind('click', function () { overlayOn(); });

            function changeEdOrg(orgId, orgName) {
                $.ajax({
                    url: "@Url.Content("~/api/user-session/ed-org/select")",
                    type: "Post",
                    data: orgId,
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        $("#selectedOrg").html("<span class=\"white-heavy-text\">" + orgName + "</span>");
                        $("#edOrgNames").val("");
                        // If looking at detailed errors, go back to main reports listing for the new district.
                        if (location.pathname.toLowerCase().indexOf("validation/report/") !== -1) {
                            location.replace("@Url.Action("Reports","Validation")");
                        return;
                    }
                    // If looking at any other reports, get the listing for the new district.
                    if (location.pathname.toLowerCase().indexOf("report") !== -1) {
                        location.reload();
                        return;
                    }
                },
                error: function () {
                    console.log(`An error occurred when attempting to change Ed Org to ${orgId}.`);
                }
            });
        }

        $.get("@Url.Content("~/api/validation/edorgs/autocomplete")")
            .done((data) => {
                availableEdOrgs = data.map(x => { 
                    return { value: x.Id, label: x.OrganizationName }
                });
                $("#edOrgNames").autocomplete({
                    source: availableEdOrgs,
                    focus: function (event, ui) {
                        $("#edOrgNames").val(ui.item.label);
                        return false;
                    },
                    select: function (event, ui) {
                        let edOrgName = ui.item.label;
                        let edOrgId = ui.item.value.toString();
                        $("#edOrgNames").val(edOrgName);
                        changeEdOrg(edOrgId, edOrgName);
                        return false;
                    }
                })
                    .autocomplete("instance")._renderItem = function (ul, item) {
                        return $( "<li>" )
                          .append(item.label)
                          .appendTo( ul );
                    }
            }).fail(() => console.log(`An error occurred when attempting to get EdOrgs`));

            // Supports NavDropDowns, School Year selection menu dropdown
            $(".select-school-year-link").on('click', function (e) {
                var chosenLink = $(this);
                var yearId = (chosenLink.attr("data-year-id"));
                $.ajax({
                    url: "@Url.Content("~/api/user-session/school-year/select")",
                    type: "Post",
                    data: yearId,
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        $("#actionDropdownYear").html("<span class=\"fas fa-calendar-alt white-heavy-text\"></span> " + chosenLink.text());
                        $(".school-year-option").prop("selected", false);
                        try {
                            $(`#syopt${chosenLink.text().substring(0, 4)}`).prop("selected", true);
                        }
                        catch (e) { }
                        // If looking at detailed errors, go back to main reports listing for the new ODS School Year.
                        if (location.pathname.toLowerCase().indexOf("validation/report/") !== -1) {
                            location.replace("@Url.Action("Reports","Validation")");
                            return;
                        }
                        // If looking at any other reports, get the listing for the new ODS School Year.
                        if (location.pathname.toLowerCase().indexOf("report") !== -1) {
                            location.reload();
                            return;
                        }
                    },
                    error: function () {
                        console.log(`An error occurred when attempting to change School Year to ${yearId}.`);
                    }
                });
            });
        });
    </script>

    @RenderSection("scripts", required: false)
</body>
</html>
