@using MvcSiteMapProvider.Web.Html
@using ValidationWeb
@using ValidationWeb.ApiControllers
@{
    var identity = (ValidationPortalIdentity)User.Identity;
    var appRoleName = identity.AppRole.Name;
    var permissions = User.Identity.GetViewPermissions(identity.AppRole);
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Ed-Fi Data Validation Portal</title>
    <link rel="SHORTCUT ICON" href="~/favicon.ico" />
    @Styles.Render("~/Content/Styles/css")
    @Styles.Render("~/Content/jqueryUICSS")
    @Styles.Render("~/Content/datePickerCSS")
    @Styles.Render("~/Content/DataTables/css/DataTablesCSS")
    @Styles.Render("~/Content/Styles/BootstrapSelectCSS")
    @Styles.Render("~/Content/Styles/Select2CSS")
    @Styles.Render("~/Content/ValidationPortal")
</head>
<body>
    <div class="container-fluid layout">
        <div class="row ">
            <div class="top-banner col-12" role="banner" aria-label="Minesota Department of Education - Ed-Fi Data Validation Portal">
                <p><a href="#skipnavigation">Skip navigation</a></p>
                <div class="app-title clear-margin">Ed-Fi Data Validation Portal</div>
            </div>
        </div>
        <div class="row noprint">
            <div class="col-12">
                <nav id="layout-navbar" role="navigation" aria-label="Main" class="navbar navbar-expand-sm prime-blue">
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#theNavBar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="theNavBar">
                        <ul class="navbar-nav">
                            <li>@Html.Raw(Html.ActionLink("LinkText", "Index", "Home", new { area = "" }, new { @class = "nav-link validation-nav-link show-page-loading" }).ToHtmlString().Replace("LinkText", "<i class=\"fas fa-home white-heavy-text\"></i> Home"))</li>

                            @if (permissions.CanViewValidationReports)
                            {
                                <li>@Html.Raw(Html.ActionLink("LinkText", "Reports", "Validation", new { area = "" }, new { @class = "nav-link validation-nav-link show-page-loading" }).ToHtmlString().Replace("LinkText", "Validation Reports"))</li>
                            }
                            @if (permissions.CanViewOdsReports)
                            {
                                <li>@Html.Raw(Html.ActionLink("LinkText", "Reports", "Ods", new { area = "" }, new { @class = "nav-link validation-nav-link show-page-loading" }).ToHtmlString().Replace("LinkText", "ODS Reports"))</li>
                            }

                            <li class="mr-auto">
                                <a class="nav-link validation-nav-link mr-auto show-page-loading" href="https://w1.education.state.mn.us/MIDMSWEB/MDELogin.html">MARSS WES</a>
                            </li>
                            @Html.Action("NavDropDowns", "Nav")
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                @Html.MvcSiteMap().SiteMapPath()
            </div>
        </div>
        <div class="row layout mainSection" role="main">
            <div class="col-12">
                <a name="skipnavigation" id="skipNavigationAnchor" tabindex="-1"></a>
                @RenderBody()
            </div>
        </div>
        @Html.Partial("_LittleFooter")
    </div>
    <!-- Turn this overlay on and off when loading new data asynchronously or screens. -->
    <div id="overlay"><span id="overlay-text">Loading ... <i class="fas fa-cog"></i></span></div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryUI")
    @Scripts.Render("~/bundles/datePickerJS")
    @Scripts.Render("~/bundles/BootstrapSelect")
    @Scripts.Render("~/bundles/Select2")
    @Scripts.Render("~/bundles/DataTables")
    <script>
        @*  The contents of this script tag are not in a separate file because portions are generated on the server side with ASP.NET MVC *@
        // Supports overlay
        function overlayOn() { $("#overlay").fadeIn(100); }
        function overlayDelayedOn() { $("#overlay").delay(1000).fadeIn(100); }
        function overlayOff() { $("#overlay").hide(); }

        $(document).ready(function () {
            // Eliminate any lingering overlay effect. Show it hen leaving page.
            overlayOff();
            $(".show-page-loading").bind('click', function () { overlayDelayedOn(); });
            $(".show-data-loading").bind('click', function () { overlayOn(); });

            function changeEdOrg(e) {
                var orgId = e.params.data.id;
                @*Url.RouteUrl("api/user-session", new { httpRoute = string.Empty, controller = "UserSessionController" })*@

                $.ajax({
                    url: "@Url.Content("~/api/user-session/ed-org/select")",
                    type: "Post",
                    data: orgId,
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        // If looking at detailed errors, go back to main reports listing for the new district.
                        if (location.pathname.toLowerCase().indexOf("validation/report/") !== -1) {
                            location.replace("@Url.Action("Reports","Validation")");
                            return;
                        }
                        // If looking at any other reports, get the listing for the new district.
                        //if (location.pathname.toLowerCase().indexOf("report") !== -1) {
                        console.log(`changing to ${orgId}`);
                        location.reload();
                        return;
                        //}
                    },
                    error: function () {
                        console.log(`An error occurred when attempting to change Ed Org to ${orgId}.`);
                    }
                });
            }

        $.get("@Url.Content("~/api/validation/edorgs/autocomplete")")
            .done((data) => {
                var dropDown = $('#edOrgNames');

                let availableEdOrgs = data.map(x => {
                    dropDown.append($("<option></option>")
                        .attr("value", x.Id)
                        .text(x.OrganizationName));
                });

                $.get("@Url.Content("~/api/user-session/ed-org/get")")
                    .done((data) => {
                        dropDown.val(data.id);

                        dropDown.select2({
                            theme: 'bootstrap4',
                            containerCssClass: 'validation-dropdown-menu'
                        });

                        dropDown.on('select2:select', changeEdOrg);
                    })
                    .fail(() =>
                        console.log(`An error occurred when attempting to get current EdOrg`));
            }).fail(() =>
                console.log(`An error occurred when attempting to get EdOrgs`));

            // Supports NavDropDowns, School Year selection menu dropdown
            $(".select-school-year-link").on('click', function (e) {
                var chosenLink = $(this);
                var yearId = (chosenLink.attr("data-year-id"));
                $.ajax({
                    url: "@Url.Content("~/api/user-session/school-year/select")",
                    type: "Post",
                    data: yearId,
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        $("#actionDropdownYear").html(chosenLink.text());
                        $(".school-year-option").prop("selected", false);
                        try {
                            $(`#syopt${chosenLink.text().substring(0, 4)}`).prop("selected", true);
                        }
                        catch (e) { }

                        console.log(`setting school year to ${chosenLink.text()}`);
                        // If looking at detailed errors, go back to main reports listing for the new ODS School Year.
                        if (location.pathname.toLowerCase().indexOf("validation/report/") !== -1) {
                            location.replace("@Url.Action("Reports","Validation")");
                            return;
                        }
                        // If looking at any other reports, get the listing for the new ODS School Year.
                        // if (location.pathname.toLowerCase().indexOf("report") !== -1) {
                            location.reload();
                            return;
                        //}
                    },
                    error: function () {
                        console.log(`An error occurred when attempting to change School Year to ${yearId}.`);
                    }
                });
            });
        });
    </script>

    @RenderSection("scripts", required: false)
</body>
</html>
