<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>ASDCS District Data Validation Portal</title>
    <link rel="SHORTCUT ICON" href="~/favicon.ico" />
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/tabulatorCSS")
    @Styles.Render("~/Content/jqueryUICSS")
    
    @Styles.Render("~/Content/datePickerCSS")

</head>
<body>
    <div class="container-fluid layout">
        <div class="row ">
            <div class="top-banner col-12">
                <img src="~/Content/Images/mdelogo450.png" class="img-fluid mdelogo" />
                <p><a href="#skipnavigation">Skip navigation</a></p>
                <div class="app-title clear-margin">ASDCS District Data Validation Portal</div>
            </div>
        </div>
        <div class="row noprint">
            <div class="col-12">
                <nav id="layout-navbar" class="navbar navbar-expand-sm prime-blue">
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#theNavBar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="theNavBar">
                        <ul class="navbar-nav">
                            @*<a class="nav-link dropdown-toggle" href="#" id="actionDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Home</a>*@
                            <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link validation-nav-link" })</li>
                            <li>@Html.ActionLink("Validation Reports", "Reports", "Validation", new { area = "" }, new { @class = "nav-link validation-nav-link" })</li>
                            <li>@Html.ActionLink("ODS Reports", "Reports", "Validation", new { area = "" }, new { @class = "nav-link validation-nav-link" })</li>
                            @* Thus link may be used in another customer's branch (IDOE)  <li>@Html.ActionLink("Data Submissions", "Submissions", "Validation", new { area = "" }, new { @class = "nav-link validation-nav-link" })</li> *@
                            <li>@Html.ActionLink("Rule Collections", "Collections", "Rules", new { area = "" }, new { @class = "nav-link validation-nav-link mr-auto" })</li>
                            @Html.Action("NavDropDowns", "Nav")
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <div class="row layout">
            <div class="col-12">
                <a name="skipnavigation" id="skipNavigationAnchor" tabindex="-1"></a>
                @RenderBody()
            </div>
        </div>
        @Html.Partial("_LittleFooter")
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryUI")
    @Scripts.Render("~/bundles/table2CSV")
    @Scripts.Render("~/bundles/tabulatorScripts")

    @Scripts.Render("~/bundles/datePickerJS")
    <script>
        // Supports NavDropDowns, Education Organization/District selection menu dropdown
        $(document).ready(function () {
            $(".select-org-link").on('click', function (e) {
                var chosenLink = $(this);
                var orgId = (chosenLink.attr("data-org-id"));
                $.ajax({
                    url: "@Url.Content("~/api/user-session/ed-org/select")",
                    type: "Post",
                    data: orgId,
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) { $("#actionDropdownOrg").text(chosenLink.text()); },
                    error: function () { console.log(`An error occurred when attempting to change Ed Org to ${orgId}.`); }
                });
            });
        });

        // Supports NavDropDowns, School Year selection menu dropdown
        $(document).ready(function () {
            $(".select-school-year-link").on('click', function (e) {
                var chosenLink = $(this);
                var yearId = (chosenLink.attr("data-year-id"));
                $.ajax({
                    url: "@Url.Content("~/api/user-session/school-year/select")",
                    type: "Post",
                    data: yearId,
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) { $("#actionDropdownYear").text(chosenLink.text()); },
                    error: function () { console.log(`An error occurred when attempting to change School Year to ${yearId}.`); }
                });
            });
        });
    </script>

    @RenderSection("scripts", required: false)
</body>
</html>
