@model NavMenusViewModel

<div class="col-9">
    <li class="nav-item dropdown-toggle pull-right">
        <a class="nav-link dropdown-toggle" href="#" id="actionDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@Model.AppUserSession.UserIdentity.UserId</a>
        <div class="dropdown-menu validation-drowdown-menu pull-right" aria-labelledby="actionDropdown">
            @Html.ActionLink("OrgName", "SelectOrg", "Home", new { area = "" }, new { @class = "nav-item nav-link" })
        </div>
    </li>
    <li class="nav-item dropdown-toggle pull-right">
        <a class="nav-link dropdown-toggle" href="#" id="actionDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@Model.FocusedEdOrg</a>
        <div class="dropdown-menu validation-drowdown-menu pull-right" aria-labelledby="actionDropdown">
            @Html.ActionLink("OrgName", "SelectOrg", "Home", new { area = "" }, new { @class = "nav-item nav-link" })
        </div>
    </li>
    <li class="nav-item dropdown-toggle pull-right">
        <a class="nav-link dropdown-toggle" href="#" id="actionDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@Model.FocusedSchoolYear</a>
        <div class="dropdown-menu validation-drowdown-menu pull-right" aria-labelledby="actionDropdown">
            @Html.ActionLink("OrgName", "SelectOrg", "Home", new { area = "" }, new { @class = "nav-item nav-link" })
        </div>
    </li>
</div>