@model NavMenusViewModel

    <div class="ml-auto justify-content-end">
        <li class="nav-item dropdown pull-right">
            <a class="nav-link dropdown-toggle validation-dropdown-toggle" href="#" id="actionDropdownProfile" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="fas fa-user-circle white-heavy-text"></span> @Model.AppUserSession.UserIdentity.UserId</a>
            <div class="dropdown-menu validation-drowdown-menu" style="left: initial;" aria-labelledby="actionDropdown">
                @*TODO - If admin only show admin page. ASK - Is this ok?*@
                @if (Model.AppUserSession.UserIdentity.AppRole.Name == "Administrator")
                {
                    @Html.ActionLink("Admin page", "Index", "Admin", new { area = "" }, new { @class = "nav-item nav-link" })
                }
                @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-item nav-link" })
            </div>
        </li>
        <li class="nav-item dropdown pull-right">
            <a class="nav-link dropdown-toggle validation-dropdown-toggle" href="#" id="actionDropdownOrg" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="fas fa-landmark white-heavy-text"></span> @Model.FocusedEdOrg.DistrictName</a>
            <div class="dropdown-menu validation-drowdown-menu" style="left: initial;" aria-labelledby="actionDropdown">
                @foreach (var edOrg in Model.EdOrgs)
                {
                    <a class="nav-item nav-link select-org-link" href="#" data-org-id="@(edOrg.Id)">@(edOrg.DistrictName)</a>
                }
            </div>
        </li>
        <li class="nav-item dropdown pull-right">
            <a class="nav-link dropdown-toggle validation-dropdown-toggle" href="#" id="actionDropdownYear" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="fas fa-calendar-alt white-heavy-text"></span> @Model.FocusedSchoolYear</a>
            <div class="dropdown-menu validation-drowdown-menu" style="left: initial;" aria-labelledby="actionDropdown">
                @foreach (var schoolYear in Model.SchoolYears)
                {
                    <a class="nav-item nav-link select-school-year-link" href="#" data-year-id="@(schoolYear.Id.ToString())">@(schoolYear.ToString())</a>
                }
            </div>
        </li>
    </div>

