@model HomeIndexViewModel
<script>
        function hideElement(elemId, announcementId)
        {
            $(elemId).fadeOut();
            $.get('@(Url.Action("DismissAnnouncement", "Home"))?announcement=' + announcementId )
        }
</script>

<div class="container-fluid">
    <div class="row">
        <div class="tbmargin10 col-8">
            <div class="vp-body-header">
                You are logged in as @(Model.AppUserSession.UserIdentity.FullName) with access level: @(Model.AppUserSession.UserIdentity.AppRole?.Name).
            </div>
            <div class="vp-body-header">
                School years available to validate:
                <span>@( string.Join(", ", Model.YearsOpenForDataSubmission.Select(yr => yr.ToString()).OrderBy(y => y).ToList()))</span>
            </div>
        </div>
        <div class="tbmargin10 col-4">
            @{ var rnd = new Random(); }
            @foreach (var announcement in Model.Announcements.OrderByDescending(a => a.Priority).ToList())
            {
                var cardHeader = announcement.IsEmergency ? "Urgent!" : "Announcement";
                var announcementParagraphs = (announcement.Message ?? string.Empty).Replace("\r", "").Split(new char[] { '\n' });
                var cardColor = announcement.IsEmergency ? "danger-red" : "accent-soft-blue";
                var cardId = $"card{rnd.Next(int.MaxValue)}";

                if (announcement.Expiration > DateTime.UtcNow)
                {
                    <div id="@(cardId)" class="@(cardColor) clear-margin rounded-padded">
                        <div class="vp-body-header">@(cardHeader)</div>
                        @foreach (var paragraph in announcementParagraphs)
                    {
                            <p>@Html.Raw(paragraph)</p>
                        }
                        @if (!string.IsNullOrWhiteSpace(announcement.LinkUrl))
                    {
                            <a href="@(announcement.LinkUrl)" target="_blank">@(announcement.LinkUrl)</a>
                        }
                        @if (!string.IsNullOrWhiteSpace(announcement.ContactInfo))
                    {
                            <p>@(announcement.ContactInfo) <!-- <button type="button" onclick="hideElement('#@(cardId)',  @(announcement.Id))" class="btn btn-sm btn-primary btn-light float-right">Dismiss</button>--></p>

                        }
                    </div>
                    <br />
                }
            }
        </div>
    </div>
</div>
