@model ValidationWeb.ViewModels.AdminDynamicReportViewModel

<div>
    <div id="report-modal-content" class="modal-content" tabindex="-1">
        <div class="modal-header prime-blue white-heavy-text">
            <h4 id="report-header" class="modal-title">Add Dynamic Report</h4>
            <button type="button" class="close" aria-label="close" data-dismiss="modal">[close]</button>
        </div>
        <div class="modal-body">

            @using (Html.BeginForm())
            {
                <div class="row" id="announcement-validation-summary-row">
                    @Html.ValidationSummary(false, "Errors:", new
                    {
                        @class = "alert alert-danger",
                        style = "width: 100%"
                    })
                </div>
                @Html.HiddenFor(m => m.DynamicReportDefinition.Id, new
                {
                    id = "edit-report-id"
                })

                <div class="row form-group">
                    <div class="col-sm-3">
                        @Html.LabelFor(m => m.DynamicReportDefinition.Name, "Report Name")
                    </div>
                    <div class="col-sm-9">
                        @Html.TextBoxFor(
                            m => m.DynamicReportDefinition.Name, 
                            new { id = "edit-report-name", @class = "form-control", required = "required" })
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-3">
                        @Html.LabelFor(m => m.DynamicReportDefinition.Description, "Description")
                    </div>
                    <div class="col-sm-9">
                        @Html.TextBoxFor(
                            m => m.DynamicReportDefinition.Description,
                            new { id = "edit-report-description", @class = "form-control", required = "required" })
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-3">
                        @Html.LabelFor(m => m.DynamicReportDefinition.ValidationRulesViewId, "Rules View")
                    </div>
                    <div class="col-sm-9">
                        @Html.DropDownListFor(
                            m => m.DynamicReportDefinition.ValidationRulesViewId,
                            Model.ValidationRulesViews.Select(x => new SelectListItem {Text = x.Name, Value = x.Id.ToString()}),
                            "Select a view",
                            new
                            {
                                id = "select-rules-view",
                                @class = "form-control",
                                @onchange="updateRulesView(this.value)"
                            })
                    </div>
                </div>


                @*
            <div class="row form-group">
                <div class="col-lg-3">
                    <label for="edit-priority">Sort Order:</label>
                </div>
                <div class="col-lg-9">
                    @Html.TextBoxFor(m => m.Priority, new
                    {
                        id = "edit-announcement-priority",
                        pattern = "\\d*",
                        title = "Priority must be a number",
                        @class = "form-control"
                    })
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-3">
                    <label for="edit-message">Message: <span style="color: red">*</span></label>
                </div>
                <div class="col-sm-9">
                    @Html.TextAreaFor(
                        m => m.Message,
                        new
                        {
                            id = "edit-announcement-message",
                            rows = 4,
                            @class = "form-control",
                            required = "required"
                        })

                    @Html.ValidationMessageFor(m => m.Message)
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-3">
                    <label for="edit-contactInfo">Contact Info:</label>
                </div>
                <div class="col-sm-9">
                    @Html.TextBoxFor(m => m.ContactInfo, new
                    {
                        id = "edit-announcement-contactInfo",
                        @class = "form-control"
                    })
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-3">
                    <label for="edit-linkUrl">Link Url: </label>
                </div>
                <div class="col-sm-9">
                    @Html.TextBoxFor(m => m.LinkUrl, new
                    {
                        id = "edit-announcement-linkUrl",
                        @class = "form-control"
                    })
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-3">
                    <label for="edit-expiration-date-picker">Expiration: <span style="color: red">*</span></label>
                </div>
                <div class="col-sm-9">
                    @Html.TextBoxFor(m => m.Expiration, new
                    {
                        id = "edit-announcement-expiration",
                        @class = "form-control",
                        required = "required"
                    })
                    @Html.ValidationMessageFor(m => m.Expiration)
                </div>
            </div>
                *@
                <div class="modal-footer">
                    <button type="submit" id="save-report" class="btn prime-blue white-heavy-text">Save Report</button>
                </div>
            }
        </div>
    </div>
</div>
