@model IEnumerable<ValidationWeb.Models.SchoolYear>

@helper ShowNotSet(string text) {
    if (!string.IsNullOrEmpty(text))
        {<td class="row-data">@text</td>}
    else
        {<td class="row-data">Not Set</td>}
}

<div class="row">
    <div class="col-10">
        <div id="error-threshold-warning" class="alert alert-danger alert-dismissible" style="display:none" role="alert">
            <strong>Cannot update School Year.</strong> Must be a valid number.
            <button id="error-threshold-warning-button" type="button" class="close" aria-label="Close">
                <span aria-hidden="true">[close]</span>
            </button>
        </div>
    </div>
    <div class="col-2">
      <button
          class="btn btn-sm prime-blue white-heavy-text"
          data-toggle="modal"
          data-target="#add-school-year-modal"
        >
        Add Year
      </button>
    </div>
</div>
<div class="row tbmargin10">
    <table class="table table-sm table-responsive-md table-bordered" id="reportsTable">
        <tr class="table-primary">
            <th class="id-hide-column">Id</th>
            <th>School Year</th>
            <th>Options</th>
        </tr>
        @foreach (var schoolYear in Model)  // run it through here
        {
            <tr>
                <td class="id-hide-column">@schoolYear.Id</td>
                <td>@schoolYear.ToString()</td>
              <td>
                
                @if (schoolYear.Visible)
                {
                    <a
                      href="javascript:void(0);"
                      data-id="@schoolYear.Id"
                      class="btn btn-sm prime-blue white-heavy-text"
                      onclick="hideSchoolYear(@schoolYear.Id, '@schoolYear.ToString()')">
                      Hide/Delete
                    </a>

                }
                else
                {
                    <a
                      href="javascript:void(0);"
                      data-id="@schoolYear.Id"
                      class="btn btn-sm prime-blue white-heavy-text"
                      onclick="revealSchoolYear(@schoolYear.Id, '@schoolYear.ToString()')">
                      Show/Restore
                    </a>
                }
              </td>
            </tr>
        }
    </table>
</div>