@model IList<SubmissionCycle>

<button id="submissionCycle-add" class="btn minnesota-green" data-toggle="modal" data-target="#add-submission-cycle">Add Collection Cycle</button>

<div class="row tbmargin10">
    <table class="table table-sm table-responsive-md table-bordered" id="reportsTable">
        <tr class="table-primary">School Year, Collection, Start Date and End Date.
            <th class="id-hide-column">Id</th>
            <th>School Year</th>
            <th>Collection</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th></th>
            <th></th>
        </tr>
        @foreach (var submissionCycle in Model)
        {
            <tr>
                <td class="id-hide-column">@submissionCycle.Id</td>
                <td>@submissionCycle.SchoolYearDisplay</td>
                <td>@submissionCycle.CollectionId</td>
                <td>@submissionCycle.StartDate</td>
                <td>@submissionCycle.EndDate</td>
                <td>
                    <a href="javascript:void(0);"
                       class="submissioncycle-edit btn btn-sm btn-primary" data-id="@submissionCycle.Id"><i class="fa fa-edit"></i></a>
                </td>
                <td>
                    <a href="javascript:void(0);" data-id="@submissionCycle.Id" class="submissioncycle-delete btn btn-sm btn-danger">
                        <i class="fa fa-trash"></i>
                    </a>
                </td>
            </tr>
        }
    </table>
</div>

<div id='submissioncycleModal' class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='submissioncycle-modal-content'></div>
        </div>
    </div>
</div>  