@model OdsChangeOfEnrollmentReportViewModel

<div class="row tbmargin10" id="pagetop">
    <div class="vp-body-header justify-content-start align-self-center">Changes of Enrollment in the Last 30 Days for District @Model.EdOrgName (@Model.EdOrgId.ToString())</div>
</div>

<div class="row tbmargin10">
    <div class="col-md-6 vp-body-header justify-content-start align-self-center">
        <div class="container">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="pill" href="#enrollmentsPane">Enrolling</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="#withdrawalsPane">Withdrawing</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-3 offset-3 text-right">
        <a href="#notes">View Report notes</a>
    </div>
</div>

<!-- Tab panes -->
<div class="tab-content">
    <div class="tab-pane row fade show active" id="enrollmentsPane">
        <div id="requestedReportContent">
            <div class="col-md-12 nopadding">
                <table class="table nowrap" id="reportsTable1" style="table-layout: fixed; width: 98% !important;"></table>
            </div>
        </div>
    </div>
    <div class="tab-pane row fade" id="withdrawalsPane">
        <div id="requestedReportContent2">
            <div class="col-md-12 nopadding">
                <table class="table nowrap" id="reportsTable2" style="table-layout: fixed; width: 98% !important;"></table>
            </div>
        </div>
    </div>
</div>

<div id="notes" class="row">
    <div class="vp-body-header">Notes:</div>
</div>
<div class="row">(1) Enrolling students are those who enrolled in a district school in the past 30 days and had enrolled in some other school in the state prior to 30 days ago.</div>
<div class="row">(2) Withdrawing students are those that withdrew in the past thirty days and subsequently enrolled elsewhere in the state.</div>
<div class="row tbmargin10">
    <a href="#pagetop">Back to Top</a>
</div>

@Html.Partial("Partials/RequestRecordsModal")

@section scripts {
    <script>
        $(function() {
            $('div.dataTables_scrollBody').css('min-height', '350px');

            // notify tables within tab panes that it's time to refresh/draw 
            $('a[data-toggle="pill"]').on( 'shown.bs.tab', function (e) {
                var tables = $.fn.dataTable.tables({ visible: true, api: true });
                tables.columns.adjust();
                tables.scroller.measure();
            } );

            var dataTable = $('#reportsTable1').DataTable({
                paging: true,
                info: false,
                scrollX: false,
                scrollY: '350px',
                scrollCollapse: true,
                deferRender: true,
                searching: false,
                serverSide: true,
                processing: true,
                scroller: {
                    loadingIndicator: true
                },
                fnInitComplete: function() {
                    $('div.dataTables_scrollBody').css('min-height', 0);
                },
                ajax: {
                    url: "@Html.Raw(Url.Action("GetChangeOfEnrollmentReportData", new
                                                                                  {
                                                                                      edOrgId = Model.EdOrgId,
                                                                                      fourDigitSchoolYear = Model.FourDigitSchoolYear,
                                                                                      isCurrentDistrict = true
                                                                                  }))"
                },
                columns: [
                    {
                        title: 'Student Name',
                        name: 'studentName',
                        width: '200px',
                        data: function(row, type, set) {
                            return row.studentLastName + ", " + row.studentFirstName + " " + row.studentMiddleName;
                        },
                        render: function(data, type, row, meta) {
                            if (type === 'display') {
                                return row.studentLastName + ", " + row.studentFirstName + " " + row.studentMiddleName;
                            } else {
                                return data;
                            }
                        }
                    },
                    {
                        title: 'State Reporting Number',
                        name: 'studentID',
                        data: 'studentID'
                    },
                    {
                        title: 'Birthdate',
                        name: 'studentBirthDate',
                        data: 'studentBirthDate',
                        render: function(data, type, row, meta) {
                            if (type === 'display') {
                                return data == null ? "Unknown" : new Date(data).toLocaleDateString("en-US");
                            } else {
                                return data;
                            }
                        }
                    },
                    {
                        title: 'Grade',
                        name: 'currentGrade',
                        data: 'currentGrade'
                    },
                    {
                        title: 'District ID',
                        name: 'currentDistEdOrgId',
                        data: 'currentDistEdOrgId'
                    },
                    {
                        title: 'Entry Date',
                        name: 'currentEdOrgEnrollmentDate',
                        data: 'currentEdOrgEnrollmentDate',
                        render: function(data, type, row, meta) {
                            if (type === 'display') {
                                return data == null ? "Unknown" : new Date(data).toLocaleDateString("en-US");
                            } else {
                                return data;
                            }
                        }
                    },
                    {
                        title: 'Exit Withdraw Date',
                        name: 'currentEdOrgExitDate',
                        data: 'currentEdOrgExitDate',
                        render: function(data, type, row, meta) {
                            if (type === 'display') {
                                return data == null ? "Unknown" : new Date(data).toLocaleDateString("en-US");
                            } else {
                                return data;
                            }
                        }
                    },
                    {
                        title: 'Records Requested',
                        orderable: false,
                        data: 'null',
                        render: function(data, type, row) {
                            return '<button class="btn btn-sm prime-blue white-heavy-text" data-toggle="modal" data-target="#request-records-modal">Request Records</button>';
                        }


                    }
                ]
            });

            $(dataTable.table().header()).addClass('table-primary');

            dataTable = $('#reportsTable2').DataTable({
                paging: true,
                info: false,
                scrollX: false,
                scrollY: '350px',
                scrollCollapse: true,
                deferRender: true,
                searching: false,
                serverSide: true,
                processing: true,
                scroller: {
                    loadingIndicator: true
                },
                fnInitComplete: function() {
                    $('div.dataTables_scrollBody').css('min-height', 0);
                },
                ajax: {
                    url: "@Html.Raw(Url.Action("GetChangeOfEnrollmentReportData", new
                                                                                  {
                                                                                      edOrgId = Model.EdOrgId,
                                                                                      fourDigitSchoolYear = Model.FourDigitSchoolYear,
                                                                                      isCurrentDistrict = false
                                                                                  }))"
                },
                columns: [
                    {
                        title: 'Student Name',
                        name: 'studentName',
                        width: '200px',
                        data: function(row, type, set) {
                            return row.studentLastName + ", " + row.studentFirstName + " " + row.studentMiddleName;
                        },
                        render: function(data, type, row, meta) {
                            if (type === 'display') {
                                return row.studentLastName + ", " + row.studentFirstName + " " + row.studentMiddleName;
                            } else {
                                return data;
                            }
                        }
                    },
                    {
                        title: 'State Reporting Number',
                        name: 'studentID',
                        data: 'studentID'
                    },
                    {
                        title: 'Birthdate',
                        name: 'studentBirthDate',
                        data: 'studentBirthDate',
                        render: function(data, type, row, meta) {
                            if (type === 'display') {
                                return data == null ? "Unknown" : new Date(data).toLocaleDateString("en-US");
                            } else {
                                return data;
                            }
                        }
                    },
                    {
                        title: 'Grade',
                        name: 'pastGrade',
                        data: 'pastGrade'
                    },
                    {
                        title: 'Old Entry Date',
                        name: 'pastEdOrgEnrollmentDate',
                        data: 'pastEdOrgEnrollmentDate',
                        render: function(data, type, row, meta) {
                            if (type === 'display') {
                                return data == null ? "Unknown" : new Date(data).toLocaleDateString("en-US");
                            } else {
                                return data;
                            }
                        }
                    },
                    {
                        title: 'Old Exit Withdraw Date',
                        name: 'pastEdOrgExitDate',
                        data: 'pastEdOrgExitDate',
                        render: function(data, type, row, meta) {
                            if (type === 'display') {
                                return data == null ? "Unknown" : new Date(data).toLocaleDateString("en-US");
                            } else {
                                return data;
                            }
                        }
                    },
                    {
                        title: 'NEW District',
                        name: 'currentDistrictName',
                        data: 'currentDistrictName',
                    },
                    {
                        title: 'NEW School',
                        name: 'currentSchoolName',
                        data: 'currentSchoolName',
                    },
                    {
                        title: 'NEW Entry Date',
                        name: 'currentEdOrgEnrollmentDate',
                        data: 'currentEdOrgEnrollmentDate',
                        render: function (data, type, row, meta) {
                            if (type === 'display') {
                                return data == null ? "Unknown" : new Date(data).toLocaleDateString("en-US");
                            } else {
                                return data;
                            }
                        }
                    },
                    {
                        title: 'Records Requested',
                        orderable: false,
                        data: 'null',
                        render: function(data, type, row) {
                            return '<button class="btn btn-sm prime-blue white-heavy-text" data-toggle="modal" data-target="#request-records-modal">Request Records</button>';
                        }
                    }
                ]
            });

            $(dataTable.table().header()).addClass('table-primary');
        });
    </script>
}