@model OdsLevel1IssuesReportViewModel
<div id="requestedReportContent">
    <table class="table table-sm table-responsive-md table-bordered" id="reportsTable">
        <tr class="table-primary">
            <th>Request Date/Time</th>
            <th>Collection</th>
            <th>Initiated By</th>
            <th>Status</th>
            <th>Completion Date/Time</th>
            <th>Error Count</th>
            <th>Warning Count</th>
        </tr>
        @*@foreach (var summary in Model.ReportSummaries)
            {
                    <tr>
                        <td>
                            @summary.RequestedWhen.ToShortDateString()
                            <br />@summary.RequestedWhen.ToShortTimeString()
                        </td>
                        <td>@Html.ActionLink(summary.Collection ?? "Unknown", "Report", "Validation", new { area = "", id = summary.Id }, null)</td>
                        <td>@summary.InitiatedBy</td>
                        <td>@summary.Status</td>
                        <td>
                            @(summary.CompletedWhen.HasValue ? summary.CompletedWhen.Value.ToShortDateString() : string.Empty)
                            <br />@(summary.CompletedWhen.HasValue ? summary.CompletedWhen.Value.ToShortTimeString() : string.Empty)
                        </td>
                        <td>@(summary.ErrorCount.HasValue ? summary.ErrorCount.Value.ToString() : string.Empty)</td>
                        <td>@(summary.WarningCount.HasValue ? summary.WarningCount.Value.ToString() : string.Empty)</td>
                    </tr>
                }*@
    </table>
</div>


@section scripts {
    <script>
    </script>
}




