@model OdsReportsViewModel

<div class="row">
    <h1 class="vp-body-header col-8 justify-content-start align-self-center">ODS Reports for District @Model.EdOrgName (@Model.EdOrgId.ToString())</h1>
</div>

<div class="row">
    <table class="table table-sm table-responsive-md table-bordered">
        <tr class="table-primary">
            <th style="width:33%">Report</th>
            <th>Description</th>
        </tr>
        <tr>
            <td>
                <a id="ancestryLink" class="report-button-link show-data-loading" href="@Url.Action("DemographicsReport", "Ods", new { isStateMode = false })">Ancestry Ethnic Origin and Race Counts</a>
            </td>
            <td>
                For schools and district(s), see the number of enrolled students who have submitted their demographics information, race, and ancestry/ethnic origin.
            </td>
        </tr>
        <tr>
            <td>
                <a id="dualEnrollmentsLink" class="report-button-link show-data-loading" href="@Url.Action("MultipleEnrollmentsReport", "Ods")">Dual Enrollment Students</a>
            </td>
            <td>
                See the number of students currently enrolled in more than one school or district.
            </td>
        </tr>
        <tr>
            <td>
                <a id="studentProgramsLink" class="report-button-link show-data-loading" href="@Url.Action("StudentProgramsReport", "Ods")">Student Characteristics and Programs</a>
            </td>
            <td>
                See the number of enrolled students participating in programs (or having characteristics) such as Active Duty Parent,
                American Indian/Alaska Native, Migrant, Immigrant, Homeless, SLIFE, Recently Arrived English Learner, English Learner Served,
                Independent Study, Section 504 Placement, and Title I Part A.
            </td>
        </tr>
        <tr>
            <td>
                <a id="changeEnrollmentLink" class="report-button-link show-data-loading" href="@Url.Action("ChangeOfEnrollmentReport", "Ods")">Change Of Enrollment</a>
            </td>
            <td>
                View students that have recently enrolled in another school, and request that the previous school forward relevant files, assessment results, and/or immunization information.
            </td>
        </tr>
        <tr>
            <td>
                <a id="residentsElsewhereLink" class="report-button-link show-data-loading" href="@Url.Action("ResidentsEnrolledElsewhereReport", "Ods")">Residents Enrolled Elsewhere</a>
            </td>
            <td>
                View students who reside in the district's boundaries and are enrolled in another district.
            </td>
        </tr>
        <tr>
            <td>
                <a id="identityIssuesLink" class="report-button-link show-data-loading" href="@Url.Action("IdentityIssuesReport", "Ods")">Student Identity Issues</a>
            </td>
            <td>
                View student identity issues flagged by Ed Fi's Identities Interface during data submissions from client software such as student information software systems.
            </td>
        </tr>
        <tr>
            <td>
                <a id="level1IssuesLink" class="report-button-link show-data-loading" href="@Url.Action("Level1IssuesReport", "Ods")">Level 1 Validation Issues</a>
            </td>
            <td>
                View Level 1 issues flagged by Ed Fi's Operation Data Store Interface - errors rejected data submissions to Ed Fi's Operation Data Store from client software such as student information software systems.
            </td>
        </tr>
    </table>
</div>


@section scripts {
    <script>
    </script>
}
