@model OdsResidentsEnrolledElsewhereReportViewModel
@{
    var identity = (ValidationPortalIdentity)User.Identity;
    var appRoleName = identity.AppRole.Name;
    var permissions = User.Identity.GetViewPermissions(identity.AppRole);
}

<div id="pagetop" class="row tbmargin10">
    @if (Model.IsStateMode)
    {
        <div class="vp-body-header col-md-6 justify-content-start align-self-center">Residents Enrolled Elsewhere for All Minnesota Districts</div>
    }
    else
    {
        <div class="vp-body-header col-md-6 justify-content-start align-self-center">Residents Enrolled Elsewhere for District @Model.EdOrgName (@Model.EdOrgId.ToString())</div>
    }

    @if (Model.IsStateMode && permissions.CanAccessAllDistrictsMode)
    {
        <div class="col-md-3"><a href="@Url.Action("ResidentsEnrolledElsewhereReport", "Ods", new { isStateMode = false })" class="show-data-loading">View Single District</a></div>
    }
    else
    {
        <div class="col-md-3"><a href="@Url.Action("ResidentsEnrolledElsewhereReport", "Ods", new { isStateMode = true })" class="show-data-loading">View All Districts</a></div>
    }
</div>
<div id="requestedReportContent" class="row">
    <table class="table table-bordered" id="reportsTable"></table>
</div>

<div id="notes" class="row">
    <div class="vp-body-header">Notes:</div>
</div>
<div class="row">The district where the student resides is determined from the student-school association extensions in the Ed Fi ODS database.</div>
<div class="row tbmargin10">
    <div class="col-md-2">
        <a href="#pagetop">Back to Top</a>
    </div>
</div>


@section scripts {
    <script>
        $(function() {
            var drillDownLinkTemplate =
                '<a href="@Html.Raw(Url.Action(
                              "ResidentsEnrolledElsewhereReport",
                              "Ods",
                              new
                                {
                                    schoolId = "_SchoolId_",
                                    drillDownColumnIndex = "_DrillDownIndex_",
                                    isStateMode = Model.IsStateMode,
                                    districtToDisplay = "_EdOrgId_",
                                    isStudentDrillDown = true,
                                    orgType = "_OrgType_"
                                }))" target="_blank">_LinkText_</a>';

            function createDrillDownLink(edOrgId, schoolId, drillDownIndex, orgType, linkText) {
                debugger;
                return drillDownLinkTemplate
                    .replace(/_EdOrgId_/g, edOrgId)
                    .replace(/_SchoolId_/g, schoolId)
                    .replace(/_DrillDownIndex_/g, drillDownIndex)
                    .replace(/_OrgType_/g, orgType)
                    .replace(/_LinkText_/g, linkText);
            }

            var stateLinkTemplate =
                '<a href="@Html.Raw(Url.Action(
                              "ResidentsEnrolledElsewhereReport",
                              "Ods",
                              new
                                { isStateMode = false, districtToDisplay = "_EdOrgId_" }))" class="show-data-loading">_EdOrgId_</a>';

            function createStateLink(edOrgId) {
                return stateLinkTemplate.replace(/_EdOrgId_/g, edOrgId);
            }

            $('div.dataTables_scrollBody').css('min-height', '350px');

            var dataTable = $('#reportsTable').DataTable({
                paging: true,
                pagingType: 'full_numbers',
                info: true,
                scrollCollapse: true,
                deferRender: true,
                searching: false,
                serverSide: true,
                processing: true,
                language: {
                    loadingRecords: 'Loading...',
                    processing: "Loading..."
                },
                dom: "<'row'<'col-md-3'l><'col-md-3 offset-6 text-right jumpToNotes'>>" +
                    "<'row'<'col-sm-12'tr>>" +
                    "<'row'<'col-md-3'i><'col-md-5 offset-4 pull-right'p>>",
                ajax: {
                    url: "@Html.Raw(Url.Action("GetResidentsEnrolledElsewhereData", new
                     {
                         isStateMode = Model.IsStateMode,
                         edOrgId = Model.EdOrgId,
                         fourDigitSchoolYear = Model.FourDigitSchoolYear
                     }))"
                },
                columns: [
                    {
                        title: 'District of Enrollment ID',
                        data: 'districtOfEnrollmentId',
                    },
                    {
                        title: 'District of Enrollment',
                        data: 'districtOfEnrollmentName',
                        width: '300px',
                    },
                    {
                        title: 'Residents Enrolled',
                        data: 'residentsEnrolled',
                        render: function (data, type, row, meta) {
                            if (type === 'display') {
                                debugger;
                                return (data === 0) ? "-" : 
                                    @if (permissions.CanViewStudentDrilldownReports)
                                    {
                                        @:createDrillDownLink(row.edOrgId, row.districtOfEnrollmentId, 0, row.orgType, data);
                                    } 
                                    else 
                                    {
                                        @:data
                                    }
                            } else {
                                return data;
                            }
                        }
                    },
                ]
            });

            $(dataTable.table().header()).addClass('table-primary');
            $('.jumpToNotes').html('<a href="#notes">View Report notes</a>');
        });
    </script>
}