@model OdsStudentProgramsReportViewModel

<div id="pagetop" class="row tbmargin10">
    <div><a href="#notes" class="vp-page-link"><i class="fas fa-arrow-alt-circle-down"></i> See notes</a></div>
    @if (Model.IsStateMode)
    {
        <div><a href="@Url.Action("StudentProgramsReport", "Ods", new { isStateMode = false })" class="vp-page-link show-data-loading"><i class="fas fa-chalkboard-teacher"></i> View Single District</a></div>
    }
    else
    {
        <div><a href="@Url.Action("StudentProgramsReport", "Ods", new { isStateMode = true })" class="vp-page-link show-data-loading"><i class="fas fa-sitemap"></i> View All Districts</a></div>
    }
</div>
<div class="row tbmargin10">
    @if (Model.IsStateMode)
    {
        <div class="vp-body-header justify-content-start align-self-center">Students Characteristics and Programs for All Minnesota Districts</div>
    }
    else
    {
        <div class="vp-body-header justify-content-start align-self-center">Students Characteristics and Programs for District @Model.EdOrgName (@Model.EdOrgId.ToString())</div>
    }
</div>
<div class="row tbmargin10">
    <div><a href="#reportsTable1" class="vp-page-link"><i class="fas fa-arrow-alt-circle-down"></i> See Characteristics</a></div>
    <div><a href="#reportsTable2" class="vp-page-link"><i class="fas fa-arrow-alt-circle-down"></i> See Program Participation</a></div>
</div>
<div class="row tbmargin10">
    <div class="vp-body-header justify-content-start align-self-center">Characteristics:</div>
</div>
<div id="requestedReportContent1" class="row">
    <table class="table table-sm table-responsive-md table-bordered" id="reportsTable1">
        <tr class="table-primary">
            <th>ID</th>
            <th>District/School</th>
            <th>Cumulative Enrollments</th>
            <th>Demographic Records</th>
            <th>Active Duty Parents (ADP)</th>
            <th>American Indian - Alaska Native (Minnesota)</th>
            <th>Migrant</th>
            <th>Homeless</th>
            <th>Immigrant</th>
            <th>Recently&nbsp;Arrived<br />English&nbsp;Learner</th>
            <th>SLIFE</th>
        </tr>
        @foreach (var result in Model.Results)
        {
            <tr>
                <td>
                    @if (Model.IsStateMode)
                    {
                        if (result.EdOrgId.HasValue && result.OrgType == OrgType.District)
                        {
                            <a href="@Url.Action("StudentProgramsReport", "Ods", new { isStateMode = false, districtToDisplay = result.EdOrgId.Value })" class="show-data-loading">@(result.EdOrgId.Value.ToString())</a>
                        }
                        else
                        {
                            @(result.EdOrgId.HasValue ? result.EdOrgId.Value.ToString() : string.Empty)
                        }
                    }
                    else
                    {
                        @(result.EdOrgId.HasValue ? result.EdOrgId.Value.ToString() : string.Empty)
                    }
                </td>
                <td>@(result.LEASchool)</td>
                <td><a href="@Url.Action("StudentProgramsReport", "Ods", new { schoolId = result.EdOrgId, drillDownColumnIndex = 0, isStateMode = Model.IsStateMode, districtToDisplay = result.EdOrgId, isStudentDrillDown = true, orgType = result.OrgType})" target="_blank">@(result.DistinctEnrollmentCount.ToString())</a></td>
                <td><a href="@Url.Action("StudentProgramsReport", "Ods", new { schoolId = result.EdOrgId, drillDownColumnIndex = 1, isStateMode = Model.IsStateMode, districtToDisplay = result.EdOrgId, isStudentDrillDown = true, orgType = result.OrgType})" target="_blank">@(result.DistinctDemographicsCount.ToString())</a></td>
                <td><a href="@Url.Action("StudentProgramsReport", "Ods", new { schoolId = result.EdOrgId, drillDownColumnIndex = 2, isStateMode = Model.IsStateMode, districtToDisplay = result.EdOrgId, isStudentDrillDown = true, orgType = result.OrgType})" target="_blank">@(result.ADParentCount.ToString())</a></td>
                <td><a href="@Url.Action("StudentProgramsReport", "Ods", new { schoolId = result.EdOrgId, drillDownColumnIndex = 3, isStateMode = Model.IsStateMode, districtToDisplay = result.EdOrgId, isStudentDrillDown = true, orgType = result.OrgType})" target="_blank">@(result.IndianNativeCount.ToString())</a></td>
                <td><a href="@Url.Action("StudentProgramsReport", "Ods", new { schoolId = result.EdOrgId, drillDownColumnIndex = 4, isStateMode = Model.IsStateMode, districtToDisplay = result.EdOrgId, isStudentDrillDown = true, orgType = result.OrgType})" target="_blank">@(result.MigrantCount.ToString())</a></td>
                <td><a href="@Url.Action("StudentProgramsReport", "Ods", new { schoolId = result.EdOrgId, drillDownColumnIndex = 5, isStateMode = Model.IsStateMode, districtToDisplay = result.EdOrgId, isStudentDrillDown = true, orgType = result.OrgType})" target="_blank">@(result.HomelessCount.ToString())</a></td>
                <td><a href="@Url.Action("StudentProgramsReport", "Ods", new { schoolId = result.EdOrgId, drillDownColumnIndex = 6, isStateMode = Model.IsStateMode, districtToDisplay = result.EdOrgId, isStudentDrillDown = true, orgType = result.OrgType})" target="_blank">@(result.ImmigrantCount.ToString())</a></td>
                <td><a href="@Url.Action("StudentProgramsReport", "Ods", new { schoolId = result.EdOrgId, drillDownColumnIndex = 7, isStateMode = Model.IsStateMode, districtToDisplay = result.EdOrgId, isStudentDrillDown = true, orgType = result.OrgType})" target="_blank">@(result.RecentEnglishCount.ToString())</a></td>
                <td><a href="@Url.Action("StudentProgramsReport", "Ods", new { schoolId = result.EdOrgId, drillDownColumnIndex = 8, isStateMode = Model.IsStateMode, districtToDisplay = result.EdOrgId, isStudentDrillDown = true, orgType = result.OrgType})" target="_blank">@(result.SLIFECount.ToString())</a></td>
            </tr>
        }
    </table>
</div>
<div class="row tbmargin10">
    <div><a href="#reportsTable1" class="vp-page-link"><i class="fas fa-arrow-alt-circle-down"></i> See Characteristics</a></div>
    <div><a href="#reportsTable2" class="vp-page-link"><i class="fas fa-arrow-alt-circle-down"></i> See Program Participation</a></div>
</div>
<div class="row tbmargin10">
    <div class="vp-body-header justify-content-start align-self-center">Program Participation:</div>
</div>
<div id="requestedReportContent2" class="row">
    <table class="table table-sm table-responsive-md table-bordered" id="reportsTable2">
        <tr class="table-primary">
            <th>ID</th>
            <th>District/School</th>
            <th>English Learner Identified</th>
            <th>English Learner Served</th>
            <th>Independent Study</th>
            <th>Section 504 Placement</th>
            <th>Title I Part A</th>
            <th>Eligible for Free and Reduced Meals</th>
        </tr>
        @foreach (var result in Model.Results)
        {
            <tr>
                <td>
                    @if (Model.IsStateMode)
                    {
                        if (result.EdOrgId.HasValue && result.OrgType == OrgType.District)
                        {
                            <a href="@Url.Action("DemographicsReport", "Ods", new { isStateMode = false, districtToDisplay = result.EdOrgId.Value })" class="show-data-loading">@(result.EdOrgId.Value.ToString())</a>
                        }
                        else
                        {
                            @(result.EdOrgId.HasValue ? result.EdOrgId.Value.ToString() : string.Empty)
                        }
                    }
                    else
                    {
                        @(result.EdOrgId.HasValue ? result.EdOrgId.Value.ToString() : string.Empty)
                    }
                </td>
                <td>@(result.LEASchool)</td>
                <td><a href="@Url.Action("StudentProgramsReport", "Ods", new { schoolId = result.EdOrgId, drillDownColumnIndex = 9, isStateMode = Model.IsStateMode, districtToDisplay = result.EdOrgId, isStudentDrillDown = true, orgType = result.OrgType})" target="_blank">@(result.EnglishLearnerIdentifiedCount.ToString())</a></td>
                <td><a href="@Url.Action("StudentProgramsReport", "Ods", new { schoolId = result.EdOrgId, drillDownColumnIndex = 10, isStateMode = Model.IsStateMode, districtToDisplay = result.EdOrgId, isStudentDrillDown = true, orgType = result.OrgType})" target="_blank">@(result.EnglishLearnerServedCount.ToString())</a></td>
                <td><a href="@Url.Action("StudentProgramsReport", "Ods", new { schoolId = result.EdOrgId, drillDownColumnIndex = 11, isStateMode = Model.IsStateMode, districtToDisplay = result.EdOrgId, isStudentDrillDown = true, orgType = result.OrgType})" target="_blank">@(result.IndependentStudyCount.ToString())</a></td>
                <td><a href="@Url.Action("StudentProgramsReport", "Ods", new { schoolId = result.EdOrgId, drillDownColumnIndex = 12, isStateMode = Model.IsStateMode, districtToDisplay = result.EdOrgId, isStudentDrillDown = true, orgType = result.OrgType})" target="_blank">@(result.Section504Count.ToString())</a></td>
                <td><a href="@Url.Action("StudentProgramsReport", "Ods", new { schoolId = result.EdOrgId, drillDownColumnIndex = 13, isStateMode = Model.IsStateMode, districtToDisplay = result.EdOrgId, isStudentDrillDown = true, orgType = result.OrgType})" target="_blank">@(result.Title1PartACount.ToString())</a></td>
                <td><a href="@Url.Action("StudentProgramsReport", "Ods", new { schoolId = result.EdOrgId, drillDownColumnIndex = 14, isStateMode = Model.IsStateMode, districtToDisplay = result.EdOrgId, isStudentDrillDown = true, orgType = result.OrgType})" target="_blank">@(result.FreeReducedCount.ToString())</a></td>
            </tr>
        }
    </table>
</div>
<div class="row tbmargin10">
    <div><a href="#reportsTable1" class="vp-page-link"><i class="fas fa-arrow-alt-circle-down"></i> See Characteristics</a></div>
    <div><a href="#reportsTable2" class="vp-page-link"><i class="fas fa-arrow-alt-circle-down"></i> See Program Participation</a></div>
</div>
<div id="notes" class="row">
    <div class="vp-body-header">Notes:</div>
</div>
<div class="row">(1) A student is counted as enrolled if the student was enrolled at least once during the school year.</div>
<div class="row">(2) Students are counted only once per table cell for the particular school/district/state.</div>
<div class="row tbmargin10">
    <a href="#pagetop" class="vp-page-link"><i class="fas fa-arrow-alt-circle-up"></i> Back to Top</a>
</div>

@section scripts {
    <script>
    </script>
}
