@model ValidationReportDetailsViewModel
        <div class="row">
            <div class="h4">Validation Report Details for District @Model.Details.DistrictName</div>
        </div>
        <div class="row">
            <div>Requested On: @Model.Details.CompletedWhen.ToShortDateString() @Model.Details.CompletedWhen.ToShortTimeString()</div>
        </div>
        <div class="row">
            <div>Initiated By: @Model.Details.ValidationReportSummary.InitiatedBy</div>
        </div>
        <div class="row">
            <div>Submission: @Model.Details.CollectionName</div>
        </div>
        <div class="row ">
            <div>Status: @Model.Details.ValidationReportSummary.Status</div>
        </div>
@*         <div class="row tbmargin10"> *@
@*             <table class="table table-sm table-responsive-md table-bordered"> *@
@*                 <tr class="table-primary"> *@
@*                     <th>Component</th> *@
@*                     <th>Student</th> *@
@*                     <th>School Number</th> *@
@*                     <th>Grade</th> *@
@*                     <th>Error Number</th> *@
@*                     <th>Error</th> *@
@*                 </tr> *@
@*                 @foreach (var summary in Model.Details.ErrorSummaries) *@
@*             { *@
@*                     <tr> *@
@*                         <td>@summary.Component</td> *@
@*                         <td>@summary.Student.GetFullName() <br />@summary.Student.Id</td> *@
@*                         <td>@summary.School <br />456</td> *@
@*                         <td>@summary.Grade</td> *@
@*                         <td>@summary.ErrorCode</td> *@
@*                         <td>@summary.ErrorText</td> *@
@*                     </tr> *@
@*                 } *@
@*             </table> *@
@*         </div> *@


<div class ="row tbmargin10" id ="testTable">
</div>



@section scripts
{
    <script>


        var studentAutoCompleteFilter = function(cell, onRendered, success, cancel, editorParams)
        {
            
            var tableData = {};
            $.ajax({
                url: "../GetValidationErrorSummaryTableData",
                type: "GET",
                data: {validationReportSummaryId : @Model.Details.ValidationReportSummaryId},
                async: false,
                success: function (data) {
                    tableData = JSON.parse(data);
                }
            });

            var studentNameList = [];

            tableData.forEach(function(item, index) {
                studentNameList.push(item.Student.FirstName + " " + item.Student.LastName);
            });

            var container = $("<input id='tags' placeholder='filter column...'>").autocomplete({
                source: studentNameList
            });
            $("#testTable").tabulator("setData");
            container.css({
                "padding":"4px",
                "width":"100%",
                "box-sizing":"border-box",
                "-webkit-appearance": "none"
            });

            return container;
        }
       
        
      
        $("#testTable").tabulator({
            ajaxURL: "../GetValidationErrorSummaryTableData",
            ajaxParams: { validationReportSummaryId: @Model.Details.ValidationReportSummaryId },
            layout: "fitColumns",
            pagination: "local",
            paginationSize: 1,
            columns: [
                { title: "Component", field: "Component", formatter: "textarea" },
                {
                    title: "Student",
                    field: "Student",
                    formatter: "textarea",
                    headerFilter: studentAutoCompleteFilter,
                    headerFilterFunc:"like",
                    mutator: function(value,
                        data,
                        type,
                        params,
                        component) {return value.FirstName + " "+ value.LastName;
                    }
                },
                { title: "School", field: "School", formatter: "textarea", headerFilter: "input"},
                { title: "Grade", field: "Grade", formatter: "textarea" },
                { title: "Error Number", field: "ErrorCode",formatter: "textarea" },
                { title: "Error", field: "ErrorText", formatter: "textarea", headerFilter: "input" }
            ]
        });


    </script>
}